li a p{
    margin-bottom: 0px;
}

li i{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem !important;
}

.navbar{
    padding-top: 0;
    padding-bottom: 0;
}

.vl {
    border-left: 3px solid #9688a1;
    margin-left: 25px;   
    margin-right: 25px;   
}