<body onload="mainPageOnLoad();">

<app-navbar></app-navbar>

<div class="container-xxl" style="margin-bottom: 70px;">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-center" style="margin-right: 3rem;">
      <div class="card" style="padding: 3rem;">
      <!--<button onclick="getOdom();" type="button" class="btn btn-primary">Get Odom Values</button>-->
      <h3 style="text-align: center;">Current Speed</h3>
      <h2 style="text-align: center;">0 m/s</h2>

      <hr style="margin: 2rem;">

      <h3 style="text-align: center;">Status</h3>
      <h2 style="text-align: center; color: red">IDLE</h2>

      <hr style="margin: 2rem;">

      <h3 style="text-align: center; margin-bottom: 1rem;">Add Waypoint</h3>

      <div class="row justify-content-center" style="margin-bottom: 1rem;">
        <label for="colorInput" class="col-sm-4 form-label" style="margin: auto; text-align: center;">Color : </label>
        <div class="col-sm-8">
          <input type="color" class="form-control form-control-color" id="colorInput" value="#833e80" title="Choose your color">
        </div>
      </div>
      
      <div class="row justify-content-center" style="margin-bottom: 1rem;">
        <label for="textAreaX" class="col-sm-4 form-label" style="margin: auto; text-align: center;">X : </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" value="" id="textAreaX" name="onlyNumbers" onkeypress="return isNumber(event)" onpaste="return false;"/>
        </div>
      </div>

      <div class="row justify-content-center" style="margin-bottom: 1rem;">
        <label for="textAreaY" class="col-sm-4 form-label" style="margin: auto; text-align: center;">Y : </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" value="" id="textAreaY" name="onlyNumbers" onkeypress="return isNumber(event)" onpaste="return false;"/>
        </div>
      </div>

      <button onclick="drawWaypoint();" type="button" class="btn btn-primary" style="background-color: purple; width: 50%; text-align: center; margin: auto;">Add</button>

      </div>
    </div>

    <div class="col-sm-center">
      <div class="card">
        <img style="width: 44rem; margin: 0 auto; padding: 1rem; position: relative;" src="assets/images/map.jpg" class="card-img-top" alt="...">
        
        <div class="start-circle"></div>
        <p class="start-text">Start</p>

        <div id="points"></div>
      </div>
    </div>

    <div class="col-sm-center" style="margin-left: 3rem;">
      <div class="card" style="width: 22rem; padding: 2rem;">
        <h3 style="text-align: center;">Pitch</h3>
        <img id="rover-1" style="width: 13rem; margin: 0 auto; padding: 1rem;" src="assets/images/image.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="progress" style="margin-bottom: 0.4rem;">
            <div id="progress-bar-1" class="progress-bar" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100" style="width:50%; background-color: purple !important;">
            </div>
          </div>
          <p id="pitch-p" style="text-align: center; margin-bottom: 4rem;">0.5</p>
        </div>

        <!--<hr style="border: 1px solid purple; border-radius: 5px;">-->
        <h3 style="text-align: center;">Roll</h3>
        <img id="rover-2" style="width: 13rem; margin: 0 auto; padding: 1rem;" src="assets/images/image2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <div class="progress" style="margin-bottom: 0.4rem;">
            <div id="progress-bar-2" class="progress-bar" role="progressbar" aria-valuenow="50"
            aria-valuemin="0" aria-valuemax="100" style="width:50%; background-color: purple !important;">
            </div>
          </div>
          <p id="roll-p" style="text-align: center;">0.5</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm">
      <h3></h3>
    </div>
  </div>
</div>

</body>
