<app-navbar></app-navbar>

<div class="container" style="margin-bottom: 70px;">
    <div class="row justify-content-md-center">
      <div class="col-sm">
        <h3>Joystick</h3>
        <div id="zone_joystick"></div>
      </div>
      <div class="col-sm">
        <button onclick="getJointStates();" type="button" class="btn btn-primary">Get JointStates Values</button>
      </div>
      <div class="col-sm">
        <button onclick="getOdom();" type="button" class="btn btn-primary">Get Odom Values</button>
        <button onclick="getIMU();" type="button" class="btn btn-primary">Get IMU Values</button>
        <button onclick="getLeftCamera();" type="button" class="btn btn-primary">Get Left Camera Values</button>
        <button onclick="getRightCamera();" type="button" class="btn btn-primary">Get Right Camera Values</button>
        <p id="pp">Test</p>
      </div>
    </div>
</div>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm">
      <h3></h3>
      <p id="demo-linear-x"></p>
      <p id="demo-linear-y"></p>
      <p id="demo-linear-z"></p>
      <p id="demo-angular-x"></p>
      <p id="demo-angular-y"></p>
      <p id="demo-angular-z"></p>
    </div>

    <div class="col-sm">
      <p id="joint-0"></p>
      <p id="joint-1"></p>
      <p id="joint-2"></p>
      <p id="joint-3"></p>
      <p id="joint-4"></p>
      <p id="joint-5"></p>
    </div>

    <div class="col-sm">
      <p id="orientation-x"></p>
      <p id="orientation-y"></p>
      <p id="orientation-z"></p>
      <p id="orientation-w"></p>
      <p id="position-x"></p>
      <p id="position-y"></p>
      <p id="position-z"></p>
    </div>
  </div>
</div>

<div class="container">
  <img onload="getLeftCamera()" id="image" style="width: 30%;">
  <img onload="getRightCamera()" on id="image2" style="width: 30%;">
</div>
