<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">GTU Rover WEB GUI</h1>
      <p class="lead">The gui is not ready yet.</p>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>Joystick</h3>
        <div id="zone_joystick"></div>
      </div>
      <div class="col-sm">
        <div id="demo-linear-x"></div>
        <div id="demo-linear-y"></div>
        <div id="demo-linear-z"></div>
        <hr>
        <div id="demo-angular-x"></div>
        <div id="demo-angular-y"></div>
        <div id="demo-angular-z"></div>
      </div>
      <div class="col-sm">
        <button onclick="getX();" type="button" class="btn btn-primary">Button</button>
        <p id="pp">Test</p>
      </div>
    </div>
</div>
