/* You can add global styles to this file, and also import other style files */

$bottom_left_x : 75px;
$bottom_left_y : 20px;
$starting_point_x : 120px;
$starting_point_y : 400px;
$height_constant : 26px;
$width_constant : 13.5px;
$y : 1;
$x : 1;

$text_position_x : 10px;
$text_position_y : 35px;

$start_circle_color : #9fffc2;

.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.start-circle {
    left: $starting_point_x;
    bottom: $starting_point_y;
    z-index: 2;
    position: absolute;
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    background-color: $start_circle_color;
}

.start-text{
    left: $starting_point_x - $text_position_x;
    bottom: $starting_point_y - $text_position_y;
    z-index: 3;
    position: absolute;
    color: $start_circle_color;
}

.hexagon {
    //left: $starting_point_x + $width_constant*$x;
    //bottom: $starting_point_y + $height_constant*$y;
    z-index: 2;
    position: absolute;
    width: 15px; 
    height: 8.66px;
    background-color: #64C7CC;
    margin: 4.33px 0;
}
  
.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
}
  
.hexagon:before {
    bottom: 100%;
    border-bottom: 4.33px solid #64C7CC;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: 4.33px solid #64C7CC;
}